<% values = @query.source || {}%>
<%= form.fields_for(:source, values) do |f| %>
  <!-- Source Artifact IDs -->
  <%= render 'form_multiselect_field', :fields => f, :field_name => :ids, :label => 'Artifact',
             :modes => source_artifact_modes, :items => @artifacts,
             :option_label => :name, :values => values, :css_class => 'artifacts' %>

  <!-- Source Artifact Name -->
  <div class="field source artifact name">
    <span class="column label">
      <%= f.label :name_mode, 'Name' %>
    </span>
    <span class="column mode">
      <%= f.select :name_mode, matching_modes_for_select(artifact_name_modes),
                               :selected => values[:name_mode] %>
    </span>
    <span class="column value">
      <%= f.text_field :name, :value => values[:name] %>
    </span>
  </div>

  <!-- Source Artifact Type -->
  <div class="field source artifact type">
    <span class="column label">
      <%= f.label :types_mode, 'Type' %>
    </span>
    <span class="column mode">
      <%= f.select :types_mode, matching_modes_for_select(artifact_type_modes),
                                :selected => values[:types_mode] %>
    </span>
    <span class="column value">
      <%= f.select :types, @artifact_types.map { |type| [l(type), type] },
                           { :selected => values[:types] }, { :multiple => true } %>
    </span>
    <span class="column actions">
      <a href="#" class="icon icon-checked select_all"><%= l(:re_select_all) %></a>
      <a href="#" class="icon icon-del unselect_all"><%= l(:re_unselect_all) %></a>
    </span>
  </div>

  <!-- Creator -->
  <%= render 'form_multiselect_field', :fields => f, :field_name => :creator_ids, :label => 'Creator',
                                       :modes => creator_modes, :items => @users,
                                       :option_label => :login, :values => values, :css_class => 'creator users' %>

  <!-- Creator Role -->
  <%= render 'form_multiselect_field', :fields => f, :field_name => :creator_role_ids, :label => 'Creator Role',
                                       :modes => creator_role_modes, :items => @roles,
                                       :option_label => :name, :values => values, :css_class => 'creator roles',
                                       :selectable_unselectable => true %>

  <!-- Maintainer -->
  <%= render 'form_multiselect_field', :fields => f, :field_name => :maintainer_ids, :label => 'Maintainer',
                                       :modes => maintainer_modes, :items => @users,
                                       :option_label => :login, :values => values, :css_class => 'maintainer users' %>

  <!-- Maintainer Role -->
  <%= render 'form_multiselect_field', :fields => f, :field_name => :maintainer_role_ids, :label => 'Maintainer Role',
                                       :modes => maintainer_role_modes, :items => @roles,
                                       :option_label => :name, :values => values, :css_class => 'maintainer roles',
                                       :selectable_unselectable => true %>
<% end %>