<% content_for :header_tags do %>
<%= javascript_include_tag 'jquery.layout-1.3.0.rc30.79-min.js', :plugin => 'redmine_re' %>
<%= javascript_include_tag 'redmine_re.js', :plugin => 'redmine_re' %>
<%= javascript_include_tag 'suggestible.js', :plugin => 'redmine_re' %>
<%= javascript_include_tag 'suggestible_custom.js', :plugin => 'redmine_re' %>
<%= stylesheet_link_tag 'redmine_re.css', :plugin => "redmine_re", :media => 'all' %>
<% end %>
<div id="infobar" class="ui-layout-west ui-layout-content">
  <%= render "requirements/treebar" %>
</div>
<div id='detail_view' class='ui-layout-center'>

  <h2>New Query</h2>
  <%= render 'form', :mode => :persist %>


<% content_for :sidebar do %>
  <h3>Actions</h3>
  <%= link_to 'Back', re_queries_path, :class => 'icon icon-reload' %>
<% end %>

<%= render 'sidebar' %>
</div>