<tr class="newly-added-relation">
  <td class="dnd">
    <%= f.hidden_field :id %>
    <label>undefined</label>
  </td>
  <td><%= f.check_box :is_directed %></td>
  <td><%= f.check_box :in_use %></td>
  <td><%= f.text_field :alias_name, { :size => 20 } %></td>
  <td><%= f.text_field :color, {:size => 6,  :class => "colorpick", :style => "background-color:#000000;color:#000000", :onload => "getccolor(this)"}  %>
  </td>
  <td><a class="icon icon-del relationdel" onclick="removeRelationFields(this); return false;" href=""> </a></td>
</tr>