<% content_for :header_tags do %>
  <%=  #javascript_include_tag 'jquery-1.7.2.js', :plugin => 'redmine_re' 
  %>
  <%= javascript_include_tag 'jquery.tablednd.js', :plugin => 'redmine_re' %>
  <%= javascript_include_tag 'jquery.colorPicker.js', :plugin => 'redmine_re' %>
  <%= stylesheet_link_tag 'colorpicker.css', :plugin => "redmine_re", :media => 'all' %>
<% end %>
<div id='detail_view' class='detail_view'>
  <h1><%= t(:re_plugin_configuration) %></h1>
  <br/>

  <%= form_for :config, :url => {:action => "configure", :project_id => @project.id}, :html => { :style => "margin:0;padding:0;display:inline" } do |f| %>

    <h2><%= t(:general_visualization_settings)%></h2>
    <fieldset>
    <p>
    <%= label_tag :visualization_size, l(:re_visualization_size), :class => 'large_content' %> <%= text_field_tag 're_settings[visualization_size]', @re_settings['visualization_size'] %>
    </p>
    <p>
    <%= label_tag :visualization_deep, l(:re_visualitation_deep_graph_explain), :class => 'large_content' %>
	<%= text_field_tag "re_visualization_settings[deep]", @re_visualization_setting['deep'] %><br/>
    </p>
    <p>
	<%= label_tag :issue_menue_visualization, l(:issue_menue_visualization), :class => 'large_content' %>
	<%= check_box_tag "re_visualization_settings[issue]", 'yes', @re_visualization_setting['issue'] %>    
  </p>
  </fieldset>
    
  <fieldset>
      <legend><%= t(:re_plugin_description) %></legend>
      <% unless @plugin_description.nil? or @plugin_description == '' %>
            <div class="contextual">
              <a href="#" accesskey="<%= accesskey(:edit) -%>" class="icon icon-edit" onclick="showAndScrollTo('update-plugin-description', 'plugin_description'); return false;"><%= l(:re_update_plugin_description) %></a>
            </div>
            <%= textilizable(@plugin_description, :only_path => false) %>
            <br/>
        <% end %>
        <div id='update-plugin-description' <%= 'style="display:none;"' unless @plugin_description.nil? or @plugin_description == '' %>>
          <%= text_area_tag 'plugin_description', @plugin_description,
                          :cols => 60,
                          :rows => (@plugin_description.blank? ? 10 : [[10, @plugin_description.length / 50].max, 100].min),
                          :accesskey => accesskey(:edit),
                          :class => 'wiki-edit' %>
          <%= wikitoolbar_for 'plugin_description' %>
        </div>
    </fieldset>

    <h2><%= t(:re_xport_format_configuration) %></h2>
    <% if @export_formats.blank? %>    	    	
   		<%= t(:re_pandoc_error_first) %>
   		<%= link_to("pandoc", "http://johnmacfarlane.net/pandoc/", :target => "_blank") %>
   		<%= t(:re_pandoc_error_second) %>   		
   	<% else %>
   		<% cnt = 0 %>
   		<% @export_formats.each do |format| %>    	
			<% sel = (format == @current_export_format) %>
			<div style="float : left; min-width: 150px;">
				<%= radio_button_tag 'export_format', format, sel %>
				<%= "#{format}" %>
			</div>
		<% end %>      
    <% end %>     
    <br style="clear: left;"/>

    <h2><%= t(:re_artifact_configuration) %></h2>

    <table id="artifact_types_list" class="list">
      <thead>
        <tr>
          <th title="<%= t(:re_conf_artifact_display_order) %>"><%= t(:re_display_order) %></th>
          <th title="<%= t(:re_conf_artifact_in_use) %>"><%= t(:re_use) %></th>
          <th title="<%= t(:re_conf_alias_name) %>"><%= t(:re_alias_name) %></th>
          <th title="<%= t(:re_conf_color) %>"><%= t(:re_color) %></th>
		  <th title="<%= t(:re_conf_show_in_visualization) %>"><%= t(:re_show_in_visualization) %></th>
        </tr>
      </thead>
      <tbody>
        <% @re_artifact_order.each_with_index do |artifact_type, i| %>
          <tr id="<%=artifact_type + '_' + i.to_s %>">
            <td class="dnd">
              <label><%= artifact_type.gsub(/^re_/, '').humanize %></label>&nbsp;
        <%= link_to image_tag('edit.png'),
              {:action => "edit_artifact_type_description",
               :artifact_type => artifact_type,
               :project_id => @project.id}, {:title => l(:re_edit_artifact_type_description, :artifact_type => l(artifact_type))} %>
            </td>
            <td><%= check_box_tag "re_artifact_configs[" + artifact_type.underscore + '[in_use]]', 'yes', @re_artifact_configs[artifact_type]['in_use'] %></td>
            <td><%= text_field_tag "re_artifact_configs[" + artifact_type.underscore + '[alias]]', @re_artifact_configs[artifact_type]['alias'], :size => 20 %></td>
			<td><%= text_field_tag "re_artifact_configs[" + artifact_type.underscore + '[color]]', @re_artifact_configs[artifact_type]['color'], :size => 6,  :class => 'colorpick' %></td>
			<td><%= check_box_tag "re_artifact_configs[" + artifact_type.underscore + '[show_in_visualization]]', 'yes', @re_artifact_configs[artifact_type]['show_in_visualization'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Relationship Configuration</h2>
    <table id="relation_types_list" class="list">
      <thead>
        <tr>
          <th title="<%= t(:re_conf_artifact_display_order) %>"><%= t(:re_display_order) %></th>
          <th title="<%= t(:re_conf_artifact_in_use) %>"><%= t(:re_use) %></th>
          <th title="<%= t(:re_conf_alias_name) %>"><%= t(:re_alias_name) %></th>
          <th title="<%= t(:re_conf_color) %>"><%= t(:re_color) %></th>
          <th title="<%= t(:re_conf_show_in_visualization) %>"><%= t(:re_show_in_visualization) %></th>
        </tr>
      </thead>
      <tbody>
        <% @re_relation_order.each_with_index do |relation_type, i| %>
          <tr id="<%=relation_type + '_' + i.to_s %>">
            <td class="dnd">
              <label><%= relation_type.gsub(/^re_/, '').humanize %></label>
            </td>
            <td><%= check_box_tag "re_relation_configs[" + relation_type.underscore + '[in_use]]', 'yes', @re_relation_configs[relation_type]['in_use'] %></td>
            <td><%= text_field_tag "re_relation_configs[" + relation_type.underscore + '[alias]]', @re_relation_configs[relation_type]['alias'], :size => 20 %></td>
            <td><%= text_field_tag "re_relation_configs[" + relation_type.underscore + '[color]]', @re_relation_configs[relation_type]['color'], :size => 6,  :class => "colorpick", :style => "background-color:#" + @re_relation_configs[relation_type]['color'] + ";color:#" + @re_relation_configs[relation_type]['color'], :onload => "getccolor(this)"  %>
            </td>
            <td><%= check_box_tag "re_relation_configs[" + relation_type.underscore + '[show_in_visualization]]', 'yes', @re_relation_configs[relation_type]['show_in_visualization'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= hidden_field_tag 're_artifact_order', ActiveSupport::JSON.encode(@re_artifact_order) %><br/>
    <%= hidden_field_tag 're_relation_order', ActiveSupport::JSON.encode(@re_relation_order) %><br/>


    <%= submit_tag l(:re_save), :accesskey => "s" %>
    &nbsp;<%= link_to(t(:re_cancel), { :project_id => @project.id }, { :class => "icon icon-reload" }) %>

<% end %>

<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function() {
	$("#artifact_types_list").tableDnD({
    onDrop: function(table, row) { tableArtifactIdsToJson(table, row, "#re_artifact_order") }
	});
	$("#relation_types_list").tableDnD({
    onDrop: function(table, row) { tableArtifactIdsToJson(table, row, "#re_relation_order") }
	});

	jQuery(document).ready(function($) {
		$('.colorpick').colorPicker();
	});

	/*
	jQuery('.colorpick').ColorPicker({
	  onSubmit: function(hsb, hex, rgb, el) {
	    jQuery(el).val(hex);
	    jQuery(el).css('background-color', '#'+hex)
	    jQuery(el).css('color', '#'+hex)
	    jQuery(el).ColorPickerHide();
	  },
	  onBeforeShow: function () {
	  	jQuery(this).ColorPickerSetColor(this.value);
	  }
	}).bind('keyup', function(){
	  jQuery(this).ColorPickerSetColor(this.value);
	});
	*/
});

function tableArtifactIdsToJson(table, row, field_id) {
	var rows = table.tBodies[0].rows;
	var types = new Array();
	jQuery(rows).each(function(i, r) {
		types.push('"' + this.id.gsub(/_[0-9]*$/,'') + '"');
	});
	jQuery(field_id).val("[" + types + "]");
};

//]]
</script>

</div>
