<% content_for :header_tags do %>
<%= javascript_include_tag 'jquery.layout-1.3.0.rc30.79-min.js', :plugin => 'redmine_re' %>
<%= javascript_include_tag 'jquery.blockUI-2.55.js', :plugin => 'redmine_re' %>

  <%= javascript_include_tag 'suggestible.js', :plugin => 'redmine_re' %>
  <%= javascript_include_tag 'suggestible_custom.js', :plugin => 'redmine_re' %>
  <%= stylesheet_link_tag 'redmine_re.css', :plugin => "redmine_re", :media => 'all' %>
  <%= stylesheet_link_tag 'suggestible.css', :plugin => "redmine_re", :media => 'all' %>
  <%= javascript_include_tag 'query_form', :plugin => 'redmine_re' %>
  <%= javascript_tag do %>
      (function($) {
          $().ready(function() {
		     $('#artifacts_filter_input').attr("selected","selected");


              // Make specific fields suggestible
              $('#artifacts_filter_input').suggestible(suggestibleOptions({
                  suggestionsUrl: '<%= suggest_artifacts_re_queries_path(@project.id) %>',
                  suggestionsLayout: function(helpers) {
                      return new ArtifactsSuggestBoxItems(helpers);
                  },
                  bitsUrl: '<%= artifacts_bits_re_queries_path(@project.id) %>'
              }));
          });
      })(jQuery);
    <% end %>
<% end %>

<% if @project.module_enabled?(:requirements) %>
<% if User.current.allowed_to?(:view_requirements, @project) %>

	<p style="margin: 3px 0 3px 60px;">
		<%= label_tag :add_related_artifact %>
		       <div id="artifacts_filter" style="margin: 3px 0 3px 180px;">
		          <div class="inputs">
				
					<% @issue.re_artifact_properties << ReArtifactProperties.find_by_id(params[:artifactid]) if params[:artifactid] %>

		  			<%= 
					select_tag 'artifact_id[]', options_for_select(@issue.re_artifact_properties.collect{ |u| [u.name, u.id] },
					@issue.re_artifact_properties.collect{ |u| u.id }), :id => 'artifacts_filter_input', :class => 'artifact_filter_input', :multiple => true;

		  			%>
		          </div>
		       </div>		
	   
	</p>
<% end %>


<% end %>