<% sources = @re_artifact_properties.sources %>
<% sinks   = @re_artifact_properties.sinks   %>
<% issues  = @re_artifact_properties.issues  %>

<% traces_as_source = @re_artifact_properties.traces_as_source %>
<% traces_as_sink = @re_artifact_properties.traces_as_sink %>
   
<table class="attributes">
	<colgroup>
		<col />
		<col />
		<col />
		<col style="min-width:300px width:60%" />
	</colgroup>
	<tbody>
		<tr>
			<th><%= l(:re_artifact_responsible) %></th>
			<td><%= @re_artifact_properties.responsibles %></td>
			<th><%= t(:traces_to) -%></th>			
			<% current_relation = traces_as_source.shift %>
			<% s = ReArtifactProperties.find_by_id(current_relation.sink_id) if current_relation %> 
			<td > <%= "#{rendered_relation_type(current_relation[:relation_type])} " if current_relation %> <%= t(:re_to) if s %> <%= link_to(s.name,s,{:class => "icon #{s.artifact_type.underscore}"}) if s %></td>
		</tr>
		<% traces_as_source.each do |current_relation| %>
		<tr>
			<th></th>
			<td></td>
			<th></th>
			<% s = ReArtifactProperties.find_by_id(current_relation.sink) %>			
			<td> <%= "#{rendered_relation_type(current_relation[:relation_type])} " %> <%= t(:re_to) %> <%= link_to(s.name,s,{:class => "icon #{s.artifact_type.underscore}"}) %></td>
		</tr>
		<% end %>
		<tr>
			<th></th>
			<td></td>
			<th><%= t(:traces_from) -%></th>			
			<% current_relation = traces_as_sink.shift %>
			<% s = nil %>			
			<% s = ReArtifactProperties.find_by_id(current_relation.source_id) if current_relation %> 
			<td><%= "#{rendered_relation_type(current_relation[:relation_type])} " if current_relation %> <%= t(:re_from) if s %> <%= link_to(s.name,s,{:class => "icon #{s.artifact_type.underscore}"}) if s %></td>
		</tr>				
		<% traces_as_sink.each do |current_relation| %>
		<tr>
			<th></th>
			<td></td>
			<th></th>
			<% s = ReArtifactProperties.find_by_id(current_relation.source_id)%> 
			<td><%= "#{rendered_relation_type(current_relation[:relation_type])} " %> <%= t(:re_from) %> <%= link_to(s.name,s,{:class => "icon #{s.artifact_type.underscore}"}) %></td>
		</tr>
		<% end %>
		<tr>
			<th></th>
			<td></td>
			<th><%= t(:re_related_issues) -%></th>
			<% i = issues.first %>
			<td><%= link_to(i.subject,i) if i %></td>
			
		</tr>				
		<% issues.each_with_index do |i, index| %>
		  <% next if index==0 %>
		<tr>
			<th></th>
			<td></td>
			<th></th>
			<td><%= link_to(i.subject,i) %></td>
		</tr>
		<% end %>		
	</tbody>
</table>