<div id='detail_view' class='detail_view'>
<h2> <%= t(:re_preparing_deletion) %></h2>
<p>

<%= t(:re_you_asked_for_deleting_the_following_artifact) %>: <b><%= @artifact_properties.name %></b> (#<%= @artifact_properties.id %>).
<br />
<%= t(:re_what_will_be_deleted) %>
</p>

<p>
  <div id="relationship_link_list" class="splitcontentleft">
    <%= render 're_artifact_relationship/relationship_links' %>
  </div>

  <div class="splitcontentright">
    <p>
      <b><%= t(:re_parent) %></b>
      <ul>
        <li>
          <% if @parent.artifact_type == "Project" %>
            <%= @parent.name %>
          <% else %>
            <%= link_to ( @parent.name, {
                :action => :edit,
                :controller => @parent.artifact_type.underscore,
                :id => @parent.artifact_id
              }, :class => "icon #{@parent.artifact_type.underscore}" ) %>
          <% end %>  
        </li>
      </ul>
    </p>

    <p>
      <b><%= t(:re_children) %></b>
      <ul>
        <% for child in @children %>
          <li>
          <%= link_to ( child.name, {
                :action => :edit,
                :controller => child.artifact_type.underscore,
                :id => child.artifact_id
              }, :class => "icon #{child.artifact_type.underscore}" ) %>          
          </li>
        <% end %>
      </ul>
    </p>
  </div>
</p>
<div style="clear:both;"> </div>
<p>
<h3><%= t(:re_confirm_deletion_by_choosing) %></h3>
<ul>
  <% if @children.empty? %>
    <li>
      <%= link_to t(:re_delete_artifact), { :action => "delete", :id => @artifact_properties.id, :mode => 'recursive' }, :confirm => t(:re_are_you_sure) %>:<br />
      <%= t(:re_will_delete_artifact_and_relations, :name => @artifact_properties.name) %>
    </li>
  <% else %>
    <li>
      <%= link_to t(:re_delete_and_move_children), { :action => "delete", :id => @artifact_properties.id, :mode => 'move' }, :confirm => t(:re_are_you_sure) %>:<br />
      <%= t(:re_will_delete_artifact_and_move_children, { :name => @artifact_properties.name, :parent => @parent.name }) %>
    </li>
    <br /> 
    <li>
      <%= link_to t(:re_delete_recursively), { :action => "delete", :id => @artifact_properties.id, :mode => 'recursive' }, :confirm => t(:re_are_you_sure) %>: <br />
      <%= t(:re_will_delete_artifact_and_all_children, { :name => @artifact_properties.name }) %>
    </li>
  <% end %>

</ul>
</p>

</div>

