<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery.layout-1.3.0.rc30.79-min.js', :plugin => 'redmine_re' %>
  <%= javascript_include_tag 'redmine_re.js', :plugin => 'redmine_re' %>
  <%= stylesheet_link_tag 'redmine_re.css', :plugin => "redmine_re", :media => 'all' %>
<% end %>

<div id="infobar" class="ui-layout-west ui-layout-content">
  <%= render "requirements/treebar" %>
</div>

<div id="detail-view" class="ui-layout-center">

  <h2><%= t(:re_create_a_new) + ' ' + ( rendered_artifact_type(@artifact_type) ) %></h2>

  <%= error_messages_for @re_artifact_properties %>

    <div class="box">
    <%= form_for @re_artifact_properties, :url => { :action => :create } do |f| %>

      <%= hidden_field_tag :parent_artifact_id, @parent_artifact_id %>
      <%= hidden_field_tag :parent_relation_position, @parent_relation_position %>
      <%= f.hidden_field :artifact_type %>
      <%= f.hidden_field :project_id %>


      <%= render 'common_attributes', { :f => f } %>

      <br/>

      <fieldset>
        <legend><%= t(:re_associated_issues) %></legend>
        <div class="splitcontentleft" style="border-right: 1px dotted #cccccc;">
          <p>
            <label><%= t(:add_issue_to_requirement) %></label>
            <%= text_field_tag :issue, '', {:size => 20, :class => 'autocomplete', :id => 'issue_autocomplete'} %>
          </p>
            <%= link_to image_tag('add.png')+' create related Issue', :controller=> 'issues', :action=>'new', :project_id => @project.id,
              :artifacttype => @re_artifact_properties.artifact_type, :artifactname => @re_artifact_properties.name, :displayid => @re_artifact_properties.id, :associationid => @re_artifact_properties.artifact_id unless @re_artifact_properties.id.blank?%>


          <div id="issue_candidates" class="autocomplete"></div>
          <%= javascript_tag do %>
              new Ajax.Autocompleter('issue_autocomplete',
              'issue_candidates',
              '<%= url_for :project_id => @project.identifier, :controller => 're_artifact_properties', :action => 'autocomplete_issue' %>',
              {
              paramName: 'issue_subject',
              parameters: '<%= 'id=' + @re_artifact_properties_id.to_s unless @re_artifact_properties_id.blank? %>',
              minChars: 1,
              frequency: 0.5,
              afterUpdateElement : getIssueId});

              function getIssueId(text, li){
                  jQuery('#added_issues').append(li.innerHTML + ', ');
                  jQuery('#added_issues').append('<input id="issue_id" type="hidden" name="issue_id[]" value=' + li.id + ' >');
                  document.getElementById('issue_autocomplete').value ="";
              }
		  		<% end %>

      </div>

      <div class='splitcontentright'>
          <% unless @issues.nil? %>

              <%= @issues.collect { |issue|
                  (link_to issue.subject, issue_path(issue))+'&nbsp'.to_s+
                  (link_to image_tag('delete.png'), :controller => 're_artifact_properties', :action => 'remove_issue_from_artifact', :issueid => issue.id, :project_id=>@project.id, :id => @re_artifact_properties.id) }.to_sentence %>
          <% end %>
          
          <% unless @added_issue_ids.nil? %>
              <% @added_issue_ids.each do |issue_id| %>
                  <div id="issue_list_issue_<%= issue_id %>">
                  	<input id="issue_id" type="hidden" name="issue_id[]" value="<%= issue_id %>" />
                  	<% current_issue = Issue.find(issue_id) %>
                  	<%= (link_to current_issue.subject, issue_path(:issue))+'&nbsp; (new)'.to_s.html_safe %>
                    <a href="#" onclick="Javascript: jQuery('#issue_list_issue_<%= issue_id %>').remove()"><%= image_tag('delete.png') %></a>
                  </div>
              <% end %>
          <% end %>
        <div id='added_issues'></div>
      </div>
      </fieldset>
      

   <fieldset>
   	<legend><%= t(:re_artifact_relationships)%></legend>

    <div class="splitcontentleft">
      <div id="relationship_link_list">
        <% @relationships_outgoing = ReArtifactRelationship.find_all_by_source_id(@re_artifact_properties.id) %>
        <% @relationships_outgoing.delete_if { |rel| rel.relation_type.eql?(ReArtifactRelationship::RELATION_TYPES[:pch]) } %>

        <% @relationships_incoming = ReArtifactRelationship.find_all_by_sink_id(@re_artifact_properties.id) %>
        <% @relationships_incoming.delete_if { |rel| rel.relation_type.eql?(ReArtifactRelationship::RELATION_TYPES[:pch]) } %>

        <%= render "re_artifact_relationship/relationship_links" %>
      </div>
      <br/>
    </div>

    <div class="splitcontentright">
		<%= javascript_tag do %>
		
		    (function($) {
		        $().ready(function() {
		            // hidden on init because of UJS
		            $('#relation_filter_input_nojs').remove();
		            $('#relation_filter .inputs').show();
		
		            $('#relation_filter_input').suggestible({
		                ajax: {
		                    suggestions: {
		                        url: '<%= suggest_artifacts_re_queries_path(@project.id) %>',
		                        dataType: 'json',
		                        data: function(value, helpers) {
		                            return { query: value };
		                        },
		                        loading: function(helpers) {
		                            $('#ajax-indicator').show();
		                            helpers.elements.textBox.attr('disabled', 'disabled');
		                        },
		                        loaded: function(helpers) {
		                            $('#ajax-indicator').hide();
		                            helpers.elements.textBox.removeAttr('disabled');
		                        }
		                    }
		                },
		                layout: {
		                    containers: function(selectBox, options) {
		                        return new SuggestBoxContainers(selectBox, options);
		                    },
		                    items: function(helpers) {
		                        return new DirectArtifactsSuggestBoxItemsForRelations(helpers);
		                    }
		                }
		            });
		
		            var elements = $('#ralation_filter_input_container').data('elements');
		            elements.textBox.attr('name', elements.inputName);
		        });
		    })(jQuery);
		
		<% end %>   	
	   	
        <b><%= t(:re_create_new_relation) %></b>
	   	<div id="relationhandling">
		   	
	           <% for relation_type in @re_relation_order %>
	               <% if ReSetting.get_serialized(relation_type, @project.id)['in_use'] && relation_type != 'parentchild' %>
	                   <%= radio_button :re_artifact_relationship, :relation_type, relation_type %><%= rendered_relation_type(relation_type) %>
	                   <br/>
	               <% end %>
	           <% end %>
		       <%= hidden_field_tag 'source[name_mode]', 'contains' %>
		       <div id="relation_filter">
		          <div class="inputs">
		             <%= select_tag 'source[name]', "<option></option>".html_safe, :id => 'relation_filter_input', :class => 'direct_artifacts' %>
		             <%= text_field_tag 'source[name]', nil, :id => 'relation_filter_input_nojs' %>
		          </div>
		       </div>
	        
	     </div>
	  </div>
   </fieldset>

    <!-- Additional fields like subtasks for task which are described in an own partial -->
    <%= render( @artifact_type.underscore+"/formfields", {:f => f} ) if File.exists?("#{Rails.root}/plugins/redmine_re/app/views/"+@artifact_type.underscore+"/_formfields.html.erb") %>

    <!-- add building blocks if user obtains the rights needed for that -->
    <div id='re_bb_section'>
      <%= render("re_building_block/bb_section", { :artifact => @re_artifact_properties, :bb_hash => @bb_hash, :bb_error_hash => @bb_error_hash } )%>
    </div>
      <%# add_bb_configuration_link(params[:controller].camelcase)%>

    <p>
    <%= submit_tag t(:re_save) %>
        &nbsp;
    <%#= link_to(t(:re_cancel), { :project_id => @project.id }, { :class => "icon icon-reload" }) %>
    </p>

  <% end %><!-- form end tag -->

  <div id="watchers">
    <%#= render :partial => 'watchers/watchers', :locals => {:watched => @re_artifact_properties} %>
  </div>
	
	<% if params.has_key? :id %>
      <div class="box">
      	<%= render "re_artifact_properties/manage_relationships", :id => params[:id], :project_id => @project.id %>
    	</div><!-- end of tab two -->
  <% end %>

	</div>

</div>
<%= javascript_tag do %>
	$j(document).ready(function(){
		$j("#re_artifact_properties_name").focus();
	});
<% end %>

