<%= javascript_include_tag 'prototype', 'scriptaculous' %>

  <h2><%= t(:re_bb_configuration_header, :builing_block => t(:re_bb_number), :artifact_type => rendered_artifact_type(params[:artifact_type].underscore)) %></h2>

  <%= errors_and_flash :re_building_block %>

  <% form_for :re_building_block, :update => :detail_view, :url => {:action => "edit"}, :html =>{:id => 're_building_block'} do |f| %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= hidden_field_tag :artifact_type, @artifact_type %>
    <%= hidden_field_tag :type, 'ReBbNumber' %>
    <div class="box">

      <fieldset>
        <%= render "re_building_block/common_config", :f => f %>
        <div class="splitcontentright" >
          <fieldset><legend><%= l(:re_bb_special_configuration, :building_block => t(:re_bb_number)) %> </legend>
          <p>
            <% checked = ((params[:number_format] == 'integer' or params[:number_format].nil? or params[:number_format].empty?) ? true : false) %>
          <!-- Because of some reasons, observe_field does not work on a group of radio buttons.
        Therefore the rjs is this time used with the onclick event of the buttons themselves. -->
                <%= radio_button_tag "re_building_block[number_format]", :integer, checked,
                   {:onclick => render(:update) do |page|
                                            page[:re_bb_number_configuration_decimal_div].hide
                            page[:re_bb_number_configuration_integer_div].show
                            page[:re_building_block_number_of_digits][:value] = 0
                            end}%>
        <%= label_tag "re_building_block[number_format][integer]",
                l(:re_bb_integer),
                {:class => "behind_checkbox",
               :id => 'label_for_re_building_block_number_format_integer'} %>
          </p>
        <p>
            <% checked = (params[:number_format] == 'decimal' ? true : false) %>
            <%= radio_button_tag "re_building_block[number_format]", :decimal, checked,
                   {:onclick => render(:update) do |page|
                                            page[:re_bb_number_configuration_decimal_div].show
                            page[:re_bb_number_configuration_integer_div].hide
                            end}%>
        <%= label_tag "re_building_block[number_format][decimal]",
                l(:re_bb_decimal),
              {:class => "behind_checkbox",
              :id => 'label_for_re_building_block_number_format_decimal'} %>
          </p>
          <p>
            <%= f.label :minimal_value, l(:re_bb_minimal_value), :class => "bb_config" %> <%= f.text_field :minimal_value %>
          </p>
        <p>
            <%= f.label :maximal_value, l(:re_bb_maximal_value), :class => "bb_config" %> <%= f.text_field :maximal_value %>
          </p>
        </fieldset>
      <div id="re_bb_special_number_format_configuration">
        <%= render "re_building_block/re_bb_number/config_integer.rhtml", :f => f %>
        <%= render "re_building_block/re_bb_number/config_decimal.rhtml", :f => f %>
      </div>
      </div>

      </fieldset>

    </div>

  <br />

      <p>
        <%= submit_tag l(:re_save) %>
        <%= link_to(t(:re_cancel), :controller => 're_settings', :action => 'configure_fields', :artifact_type => @artifact_type, :project_id => @project.id) %> |
    <%= add_bb_configuration_link(@artifact_type) %>
      </p>

  <% end %>

