<<%= '%' %> @<%= class_name.underscore %>=@artifact <%= '%' %>>

<div id='detail_view' class='detail_view'>
<h2><<%= '%' %>= t(:re_artifact) + ' #' + @<%= class_name.underscore %>.artifact_id.to_s + ' - ' + l(:<%= class_name.underscore %>) <%= '%' %>></h2>
  <<%= '%' %>= render 're_artifact_properties/action_menu', {:artifact => @<%= class_name.underscore %>} <%= '%' %>>
  <<%= '%' %>= errors_and_flash :<%= class_name.underscore %> <%= '%' %>>
  <<%= '%' %> form_for :<%= class_name.underscore %>, :update => :detail_view, :url => {:action => "edit"} do |f| <%= '%' %>>
    
    <<%= '%' %>= render "re_artifact_properties/shared_fields", {:f => f, :properties => @<%= class_name.underscore %>.re_artifact_properties} <%= '%' %>>
    <p>
      <<%= '%' %>= submit_tag l(:re_save) <%= '%' %>>
      &nbsp;<<%= '%' %>= link_to(t(:re_cancel), { :project_id => @project.id }, { :class => "icon icon-reload" }) <%= '%' %>>

    </p>

<<%= '%' %> end <%= '%' %>>
<<%= '%' %>= render "re_artifact_properties/manage_relationships", :id => params[:id], :project_id => @project.id if params.has_key? :id <%= '%' %>>

</div>