<tr id="use_case_step_drag_<%= f.object.position %>" class="draggable use_case_step_row">
  <td style="cursor: pointer;padding-top: 20px; vertical-align: top;" >
    <%= f.hidden_field :position, :class => "position" %>
  <% if f.object.step_type == 1 %>
      <%= image_tag('icons/user.png', :plugin => 'redmine_re', :alt => t(:re_uc_user)) %><%= f.hidden_field :step_type %>
    </td>
    <td colspan="2">
  <% else %>
    <%= image_tag('icons/monitor.png', :plugin => 'redmine_re', :alt => t(:re_uc_system)) %><%= f.hidden_field :step_type %>
    </td>
    <td>&nbsp;</td>
    <td colspan="2">
  <% end %>
  <%= f.text_area :description, { :size => "35x2", :class => "use_case_step_textarea" } %>
  <fieldset class="collapsible collapsed">
  	<legend onclick="toggleFieldset(this);">Expansions</legend>
  	<div style="display: none;">
	  <table>
	    <thead class="epansions">
	      <tr>
	        <th><%= t(:re_expansion_type) %></th>
	        <th><%= t(:re_expansion_description) %></th>
	      </tr>
	    </thead>
	    <tbody id="expansions_<%= f.object.id.to_s%>">
		  <%= f.fields_for :re_use_case_step_expansions do |builder| %>
		  	<%= render('re_use_case/re_use_case_step_expansion_fields', :f => builder ) %>
		  <% end %>
	    </tbody>
	  </table>
	  
	  <%= link_to_add_fields "Add Exp", f, :re_use_case_step_expansions, :re_use_case %>
	</div>  	
  </fieldset>
  
  <% if f.object.step_type ==1 %>
    </td>
    <td>&nbsp;</td>
  <% else %>
    </td>
  <% end %>
  <td>&nbsp;</td>
  <td style="vertical-align: top;" >
    <%= t(:re_uc_add_below) %> <%= link_to_function( image_tag('icons/user_add.png', :plugin => 'redmine_re', :alt => t(:re_uc_user)), "addStep(jQuery(this).parent().parent(), 'after', 'user')", :class => "" ) %>&nbsp;&nbsp;
    <%= link_to_function( image_tag('icons/monitor_add.png', :plugin => 'redmine_re', :alt => t(:re_uc_system)), "addStep(jQuery(this).parent().parent(), 'after', 'system')", :class => "" ) %>&nbsp;&nbsp;
    <%= link_to_function( image_tag('icons/user_go.png', :plugin => 'redmine_re', :alt => t(:re_uc_user))+image_tag('icons/monitor_go_back.png', :plugin => 'redmine_re', :alt => t(:re_uc_system)), "addDialog(jQuery(this).parent().parent(), 'after')", :class => "" ) %><br />
    <% if f.object.new_record? %>
      <%= link_to_function t(:re_delete_use_case_step), "jQuery(this).parent().parent().remove()", :class => "icon icon-del" %>
    <% else %>
      <%= link_to_function t(:re_delete_use_case_step), "markStepForDeletion(this)", :class => "icon icon-del" %>
      <%= f.hidden_field(:_destroy, :class => "should_destroy") %>
    <% end %>
  </td>
</tr>
