<%	      
  goal_levels = {
  "5" => t(:re_use_case_abstract_overview),
  "4" => t(:re_use_case_overview),
  "3" => t(:re_use_case_user_goal),
  "2" => t(:re_use_case_function),
  "1" => t(:re_use_case_low)}
		          
%>

<p><strong>Level</strong>: <%= goal_levels[@re_artifact_properties.artifact[:goal_level].to_s]  %></p>
<p><strong>Trigger</strong>:  <%= @re_artifact_properties.artifact[:trigger] %></p>
<p><strong>Precondition</strong>: <%= @re_artifact_properties.artifact[:precondition] %></p>
<p><strong>Postcondition</strong>: <%= @re_artifact_properties.artifact[:postcondition] %></p>

<hr />

<strong><%= t(:re_use_case_steps)%></strong>

<table class="steps">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th><%= t(:re_user_steps) %></th>
        <th width="120px" >&nbsp;</th>
        <th ><%= t(:re_system_steps) %></th>
        <th>&nbsp;</th>
        <th style="min-width: 300px;"></th>
      </tr>
    </thead>
    <tbody id="steps">
		<% counter = 1 %>
	    <% @re_artifact_properties.artifact.re_use_case_steps.each do |current_re_use_case_step| %>
	    	<% if ( current_re_use_case_step.step_type == 2 ) %>
	          <tr>
	          	<td><%= image_tag('icons/monitor.png', :plugin => 'redmine_re', :alt => t(:re_uc_system)) %></td>
	          	<td>&nbsp;</td>
	          	<td>
	          		<%= current_re_use_case_step.description %>
	          		<div class="step_expansions">
						<% unless current_re_use_case_step.re_use_case_step_expansions.blank? %>
					    	<% current_re_use_case_step.re_use_case_step_expansions.each do |current_re_use_case_step_expansion| %>
								<div class="assigned_expansion"><%= counter %></div>
								<% counter = counter + 1 %>
							<% end %>
						<% end %>
					</div>
	          	</td>
	         </tr>
	        <% else %>
	          <tr>
	          	<td><%= image_tag('icons/user.png', :plugin => 'redmine_re', :alt => t(:re_uc_system)) %></td>
	          	<td>
	          		<%= current_re_use_case_step.description %>
	          		<div class="step_expansions">
						<% unless current_re_use_case_step.re_use_case_step_expansions.blank? %>
					    	<% current_re_use_case_step.re_use_case_step_expansions.each do |current_re_use_case_step_expansion| %>
								<div class="assigned_expansion"><%= counter %></div>
								<% counter = counter + 1 %>
							<% end %>
						<% end %>
					</div>
	          	</td>	          	
	          	<td>&nbsp;</td>
	         </tr>
	        <% end %>
	    <% end %>
    </tbody>
</table>

<% unless @re_artifact_properties.artifact.re_use_case_steps.blank? %>
	<table>
		<tr>
			<th colspan="2"><%= t(:re_expansions) %></th>
		</tr>
		<% counter = 1 %>
		<% @re_artifact_properties.artifact.re_use_case_steps.each do |current_re_use_case_step| %>
			<% unless current_re_use_case_step.re_use_case_step_expansions.blank? %>
		    	<% current_re_use_case_step.re_use_case_step_expansions.each do |current_re_use_case_step_expansion| %>
					<tr>
						<td><%= counter %></td>
						<td><%= current_re_use_case_step_expansion.description %></td>
					</tr>
					<% counter = counter + 1 %>
				<% end %>
			<% end %>
		<% end %>
	</table>
<% end %>
