<h3> <%= link_to_function l(:requirement_progress), "Effect.toggle('req_prog')" %></h3>
<div id="req_prog">


<% Project.find(:all).each do |project| %>

    <h4><%= link_to_function project.name, "Effect.toggle('myTable#{project.id}')" %></h4>
<table class="list" id="myTable<%=project.id%>">
  <thead>
  <tr>
    <th>Requirements</th>
    <th>Open Issues</th>
    <th>Progress</th>
  </tr>
  </thead>
  <tbody>
  <% Realization.openartifacts_todo(project).each do |artifact| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
          <%= link_to '#'+artifact.id.to_s+' '+ artifact.artifact_type+":  " +artifact.name, :controller => 're_artifact_properties', :action => 'edit', :id =>artifact.id %>&nbsp;
          <br/>
        </td>

        <% relevantissues = [] %>
        <% artifact.issues.each do |issue| %>
            <% if issue.assigned_to_id.blank? && issue.status_id < 5 %>
                <% relevantissues << issue %>
            <% end %>
        <% end %>
        <td>
          <% relevantissues.each do |issue| %>

              <%= link_to ('#'+issue.id.to_s+' '+issue.subject), issue_path(issue) %> &nbsp;
              <br/>

          <% end %>
        </td>
        <% progress = 0 %>
        <% artifact.issues.each do |issue| %>
            <% progress+=(issue.status_id < 5 ? issue.done_ratio : 100) %>
        <% end %>
        <% progress = progress/artifact.issues.count %>
        <td class="progress">
          <%= progress_bar progress, :width => '120px', :height =>'100px', :legend => progress.to_s+'%' %>
        </td>


      </tr>
  <% end %>

  </tbody>
</table>
<% end %>


</div>