<%= content_for :header_tags do %>
  <%= javascript_include_tag 'jquery.jstree/jquery.jstree.js', :plugin => 'redmine_re' %>
  <%= javascript_tag do %>
    var re_config = {
      "base_url" : "<%= url_for :controller => 'welcome' %>",
      "project_id" : "<%= @project.identifier %>",
      "artifact_settings" : <%= @re_artifact_settings.to_json.html_safe %>,
      "artifact_types" : <%= @re_artifact_order.to_json.html_safe %>
    };
  <% end %>
<% end %>

<div id="treebar">

  <%= render :partial => 'requirements/filter' %>

  <fieldset class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:re_specification_overview) %></legend>
    <div id="tree"></div>
  </fieldset>

  <fieldset class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:re_configure) %></legend>
    <div>
      <ul class="navigation">
        <% if User.current.allowed_to?(:administrate_requirements, @project) %>
          <li><%= link_to l(:re_configure_plugin), {
            :controller => "re_settings",
            :action => "configure", 
            :project_id => @project.identifier } %>
          </li>
        <% end %>
      </ul>
    </div>
  </fieldset>
</div>

<%= javascript_tag do %>
  function load_items(node) {
    var items;
    var artifact_types = re_config['artifact_settings'];

    items = {
      "create" : false,
      "rename" : false,
      "remove" : false,
      "ccp" : false,
      "new" : {
        "label" : "<%= t('re_create_in') %>",
        "separator_before" : false,
        "separator_after"	: false,
        "icon" : "new",
        "submenu" : {
	    <% @re_artifact_settings.each do |currentArtifact, currentArtifactSetting|%>
	       "<%= currentArtifact %>_in" : {
	        "label" : "<%= currentArtifactSetting["alias"] %>",
	        "action" : function (node) {
						var reference_id = node[0].id.replace('node_','');
	          var json_data = this.data.json_data.toString();
			  window.location.pathname  = re_config['base_url'].substr(1) + '/projects/<%= @project.identifier %>/requirements/artifact/new/<%= currentArtifact %>/inside_of/' + reference_id;
	        },
	        "icon" : "<%= currentArtifact %>"
	       },
	    <% end %>
	      },
      },
      "sibling" : {
        "label" : "<%= t('re_create_below') %>",
        "separator_before" : false,
        "separator_after"	: true,
        "icon" : "new",
        "submenu" : {
	    <% @re_artifact_settings.each do |currentArtifact, currentArtifactSetting|%>
	       "<%= currentArtifact %>_below" : {
	        "label" : "<%= currentArtifactSetting["alias"] %>",
	        "action" : function (node) {
	          var reference_id = node[0].id.replace('node_','');
	          var json_data = this.data.json_data.toString();
			  window.location.pathname  = re_config['base_url'].substr(1) + '/projects/<%= @project.identifier %>/requirements/artifact/new/<%= currentArtifact %>/below_of/' + reference_id;
	        },
	        "icon" : "<%= currentArtifact %>"
	       },
	    <% end %>
	      },
      },
      "edit" : {
        "label" : "<%= t(:re_edit) %>",
        "icon" : "edit",
        "action" : function (node) {
          var id = node[0].id.replace('node_','');
          var link = '<%= re_artifact_properties_path %>';
          window.location.href = link+'/'+id+'/edit';
        }
      },
      "delete" : {
        "label" : "<%= t(:re_delete) %>",
        "icon" : "delete",
        "action" : function (node) {
          var id = node[0].id.replace('node_','');
          var link = '<%= re_artifact_properties_path %>';
          window.location.href = link+'/'+id+'/how_to_delete';
        }
      },
      "visualization" : {
        "label" : "<%= t(:re_visualization_show) %>",
        "separator_before" : true,
        "separator_after"	: false,
        "icon" : "re_visualization",
        "submenu" : {
	       "sunburst_below" : {
	       	 	"label" : "<%= t(:re_visualization_show_sunburst) %>",
	        	"action" : function (node) {
		            var id = node[0].id.replace('node_','');
		            var link = '/projects/<%= @project.id %>/requirements/relations/visualization';
		            window.location.href = link+'?artefakt_id='+id+'&visualization_type=sunburst';
		  		},
	        	"icon" : "new"
	       },
		   "netmap_below" : {
		   	 	"label" : "<%= t(:re_visualization_show_netmap) %>",
		   	 	"action" : function (node) {
		            var id = node[0].id.replace('node_','');
		            var link = '/projects/<%= @project.id %>/requirements/relations/visualization';
		            window.location.href = link+'?artefakt_id='+id+'&visualization_type=netmap';
		   	 	},
		   	 	"icon" : "new"
		   	},
 		   "graph_below" : {
 		   	 	"label" : "<%= t(:re_visualization_show_graph) %>",
 		   	 	"action" : function (node) {
 		            var id = node[0].id.replace('node_','');
 		            var link = '/projects/<%= @project.id %>/requirements/relations/visualization';
 		            window.location.href = link+'?artefakt_id='+id+'&visualization_type=graph';
 		   	 	},
 		   	 	"icon" : "new"
 		   	}
	      }
      }
    }
    return items;
  }

var tree = jQuery("#tree")
  .bind("close_node.jstree", function (event, data) {
    jQuery.ajax({
      "url" : "<%= url_for :project_id => @project.identifier, :controller => 'requirements', :action => 'treestate', :id => nil %>/" + data.args[0].attr("id").replace('node_','') ,
    });
  })
  .bind("open_node.jstree", function (event, data) {
    var node = data.args[0];
    jQuery.ajax({
      "url" : "<%= url_for :project_id => @project.identifier, :controller => 'requirements', :action => 'treestate', :id => nil %>/" + node.attr("id").replace('node_','') + "?open=true" ,
    });
  })
  .bind("move_node.jstree", function (e, data) {
    data.rslt.o.each(function (i) {            
      jQuery.ajax({
        async : false,
        type: 'POST',
        url: "<%= url_for :controller => 'requirements', :action => 'delegate_tree_drop' %>/",
        data : { 
          "id" : jQuery(this).attr("id").replace("node_",""), 
          "new_parent_id" : data.rslt.np.attr("id").replace("node_",""),
          "sibling_id" : data.rslt.r.attr("id").replace("node_",""),
          "position" : data.rslt.p,
          "authenticity_token" : <%= "#{form_authenticity_token.inspect.html_safe}".html_safe %>
        },
        success : function (r) {
          if(!r.status) {          	
            jQuery.jstree.rollback(data.rlbk);
          }
          else {            
            jQuery(data.rslt.oc).attr("id", "node_" + r.id);
            if(data.rslt.cy && jQuery(data.rslt.oc).children("UL").length) {
              data.inst.refresh(data.inst._get_parent(data.rslt.oc));
            }
          }
        },
        error : function (r) {			
			jQuery.jstree.rollback(data.rlbk);       
        }
        
      });
    });
  })
  .jstree({
    "core": {
      "animation" : 100,
      "strings" : {
        "loading" : "<%= t(:re_tree_loading) %>"
      }
    },
    "themes" : {
      "url": "<%= stylesheet_path "/plugin_assets/redmine_re/stylesheets/jquery.jstree/classic/style.css"  %>",
      "theme" : "classic",
      "dots" : true,
      "icons" : true
    },
    "json_data" : {
      "data" : <%= @json_tree_data.html_safe %>,
      "ajax" : {
        "url" : function (n) {
          var url = "<%= url_for :controller => 'requirements', :action => 'treestate', :project_id => @project.identifier %>";
          var id = n.attr ? n.attr("id").replace('node_','') : -1;
          return url + "/" + id + "?open=data";
        }
      }
    },
    "dnd" : {
      "drop_finish" : function (data) {
        var drag = data.o;
        var drop = data.r;
        var id = drag.attr("id").replace('node_','');
        var name = jQuery("a:first", drag.first()).text();
        var name = jQuery.trim(name);

        var parent_id_field = jQuery('#sink_artifact_id');
        var parent_text_field = jQuery('#sink_autocomplete');
		
		var source_id;
		var sink_id;
		
        parent_id_field.val(id);
        parent_text_field.val(name);

        if (drop.hasClass("traces_to")) {
        	source_id = drop.data("artifactid");
        	sink_id = id;        	         	        	        	
        } else if (drop.hasClass("traces_from")) {
    	    source_id = id;
	       	sink_id = drop.data("artifactid");
        }//endif
        
        if (drop.hasClass("traces_to") || drop.hasClass("traces_from"))
        {        	
    		$.ajax({
        	type: "GET",
        	url: "<%= url_for :controller => 'requirements', :action => 'add_relation' %>",
        	data: {'source_id': source_id,
        		   'sink_id': sink_id,
        		   'id': drop.data("artifactid")
           	}
    		})
	        .success(function (message) {        	
    	   		$('#ajax-modal').html(message);			
				$('#ajax-modal').addClass('new-relation');        		
				showModal('ajax-modal', '400px');	
	        })
	        .error(function(message) {
	        })       
	        ;        
        }//endif                
      }//end drop finish
    },
    "ui" : {
      <%= "\"initially_select\" : [ \"node_#{@re_artifact_properties.id}\" ],".html_safe unless @re_artifact_properties.nil? -%>
      "select_limit" : 1,
      "selected_parent_close" : "select_parent"
    },
    "contextmenu" : {
      "select_node" : true,
      "show_at_node" : false,
      "items" : load_items()
    },
    "types" : {
      "types" : {
        "default" : {
          /*"valid_children" : [ "default" ]*/
        },
        "re_goal" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/world.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_task" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/report_user.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_subtask" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/report.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_vision" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/lightbulb.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_attachment" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/attach.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_workarea" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/bricks.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_user_profile" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/user.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_section" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/text_padding_top.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_requirement" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/pencil.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_scenario" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/newspaper.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_processword" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/cog.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_rationale" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/anchor.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_use_case" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/page_user.png', :plugin => 'redmine_re') %>"
          }
        },
        "re_visualization" : {
          "icon" : { 
            "image" :"<%= plugin_asset_link( 'images/icons/visualization.png', :plugin => 'redmine_re') %>"
          }
        },
        "project" : {
          "open_node"   : true
        }
      }
    },
   
  <% if User.current.allowed_to?(:edit_requirements, @project) %>
		plugins : [ "themes", "json_data", "dnd", "ui", "contextmenu", "types" ]  
  <% elsif  User.current.allowed_to?(:view_requirements, @project) %>	
    	plugins : [ "themes", "json_data", "ui", "types" ]
  <% end %>
   
  });

  /*
   * Watch click event on tree items to edit artifacts
   */
  jQuery("#tree a").live("click", function(e) {
    var artifact = jQuery(this).parent();
    link = artifact.attr("url"); 
    if (link !== undefined) window.location.href = link;
  });
<% end %>
