<%= content_for :header_tags do %>
  <%= javascript_include_tag 'jstree.js',  :plugin => 'redmine_re' %>
  <%= stylesheet_link_tag 'jstree/default/style.min.css', :plugin => 'redmine_re' %>
  <%= stylesheet_link_tag 'icons.css', :plugin => 'redmine_re' %>

  <script type="text/javascript">
  //<![CDATA[
  var re_config = {
    "base_url" : "<%= url_for :controller => 'welcome' %>",
    "project_id" : "<%= @project.identifier %>",
    "artifact_settings" : <%= @re_artifact_settings.to_json.html_safe %>,
    "artifact_types" : <%= @re_artifact_order.to_json.html_safe %>
  };
  //]]>
  </script>
<% end %>

<div id="treebar">

  <%= render :partial => 'requirements/filter' %>

  <fieldset class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:re_specification_overview) %></legend>
    <div id="tree"></div>
  </fieldset>

  <fieldset class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:re_configure) %></legend>
    <div>
      <ul class="navigation">
        <% if User.current.allowed_to?(:administrate_requirements, @project) %>
          <li><%= link_to l(:re_configure_plugin), {
            :controller => "re_settings",
            :action => "configure", 
            :project_id => @project.identifier } %>
          </li>
        <% end %>
      </ul>
    </div>
  </fieldset>
</div>


<script type="text/javascript">
//<![CDATA[

function createJSTreeContextmenuItems(node) {
  var items;
  var artifact_types = re_config['artifact_settings'];

  items = {
    "create" : false,
    "rename" : false,
    "remove" : false,
    "ccp" : false,
    <% if User.current.allowed_to?(:edit_requirements, @project) %>
    "new" : {
      "label" : "<%= t('re_create_in') %>",
      "separator_before" : false,
      "separator_after"	: false,
      "icon" : "new-icon",
      "submenu" : {
        <% @re_artifact_settings.each do |currentArtifact, currentArtifactSetting|%>
        "<%= currentArtifact %>_in" : {
        "label" : "<%= currentArtifactSetting["alias"] %>",
        "action" : function (node) {
          var reference_id = $(node.reference).attr("data-id")
          window.location.pathname  = re_config['base_url'] + 'projects/<%= @project.identifier %>/requirements/artifact/new/<%= currentArtifact %>/inside_of/' + reference_id;
        },
        "icon" : "<%= "#{currentArtifact}-icon" %>"
        },
        <% end %>
      },
    },
    "sibling" : {
      "label" : "<%= t('re_create_below') %>",
      "separator_before" : false,
      "separator_after"	: true,
      "icon" : "new-icon",
      "submenu" : {
        <% @re_artifact_settings.each do |currentArtifact, currentArtifactSetting|%>
        "<%= currentArtifact %>_below" : {
        "label" : "<%= currentArtifactSetting["alias"] %>",
        "action" : function (node) {
          var reference_id = $(node.reference).attr("data-id")
          window.location.pathname  = re_config['base_url'] + 'projects/<%= @project.identifier %>/requirements/artifact/new/<%= currentArtifact %>/below_of/' + reference_id;
        },
        "icon" : "<%= "#{currentArtifact}-icon" %>"
        },
        <% end %>
      },
    },
    "edit" : {
      "label" : "<%= t(:re_edit) %>",
      "icon" : "edit-icon d",
      "action" : function (node) {
        var id = $(node.reference).attr("data-id");
        var link = '<%= re_artifact_properties_path %>';
        window.location.href = link+'/'+id+'/edit';
      }
    },
    "delete" : {
      "label" : "<%= t(:re_delete) %>",
      "icon" : "delete-icon",
      "action" : function (node) {
        var id = $(node.reference).attr("data-id");
        var link = '<%= re_artifact_properties_path %>';
        window.location.href = link+'/'+id+'/how_to_delete';
      }
    },
    <% end # user.allowed_to :edit %>
    "visualization" : {
      "label" : "<%= t(:re_visualization_show) %>",
      "separator_before" : true,
      "separator_after"	: false,
      "icon" : "re_visualization-icon",
      "submenu" : {
        "sunburst_below" : {
          "label" : "<%= t(:re_visualization_show_sunburst) %>",
          "action" : function (node) {
            var id = $(node.reference).attr("data-id");
            var link = re_config['base_url'] + 'projects/<%= @project.id %>/requirements/relations/visualization';
            window.location.href = link+'?artefakt_id='+id+'&visualization_type=sunburst';
          },
          "icon" : "re_visualization-icon"
        },
        "netmap_below" : {
          "label" : "<%= t(:re_visualization_show_netmap) %>",
          "action" : function (node) {
            var id = $(node.reference).attr("data-id");
            var link = re_config['base_url'] + 'projects/<%= @project.id %>/requirements/relations/visualization';
            window.location.href = link+'?artefakt_id='+id+'&visualization_type=netmap';
          },
          "icon" : "re_visualization-icon"
        },
        "graph_below" : {
          "label" : "<%= t(:re_visualization_show_graph) %>",
          "action" : function (node) {
            var id = $(node.reference).attr("data-id");
            var link = re_config['base_url'] + 'projects/<%= @project.id %>/requirements/relations/visualization';
            window.location.href = link+'?artefakt_id='+id+'&visualization_type=graph';
          },
          "icon" : "re_visualization-icon"
        }
      }
    }
  }
  return items;
}

/*
 * Initialize the jstree
 */
$(document).ready(function() {
  $('#tree').jstree({
    "core" : {
      "data" : {
        "url" : '<%= url_for :project_id => @project.identifier, :controller => 'requirements', :action => 'treestate', :mode => "root" %>',
        "data" : function (node) {
          return { "id" : node.id };
        }
      },
      "check_callback" : true,
      "animation" : 100,
      "strings" : {
        "loading" : '<%= t(:re_tree_loading) %>'
      },
      "themes" : {
        "stripes" : false,
        "dots" : true,
      },
    },    
    "types" : {
      "#" : {
        "max_children" : 1,
      },
      "project" : {
        "icon" : "re_project-icon"
      },
      "re_goal" : {
        "icon" : "re_goal-icon"
      },
      "re_task" : {
        "icon"  : "re_task-icon"
      },
      "re_subtask" : {
        "icon" : "re_subtask-icon"
      },
      "re_vision" : {
        "icon" : "re_vision-icon%>"
      },
      "re_attachment" : {
        "icon" : "re_attachment-icon"
      },
      "re_workarea" : {
        "icon" : "re_workarea-icon"
      },
      "re_user_profile" : {
        "icon" : "re_user_profile-icon"
      },
      "re_section" : {
        "icon" : "re_section-icon"
      },
      "re_requirement" : {
        "icon" : "re_requirement-icon"
      },
      "re_scenario" : {
        "icon" : "re_scenario-icon"
      },
      "re_processword" : {
        "icon" : "re_processword-icon"
      },
      "re_rationale" : {
        "icon" : "re_rationale-icon"
      },
      "re_use_case" : {
        "icon" : "re_use_case-icon"
      },
      "re_visualization" : {
        "icon" : "re_visualization-icon"
      },
    },
    "contextmenu" : {
      "select_node" : true,
      "show_at_node" : false,
      "items" : createJSTreeContextmenuItems()
    },
    <% if User.current.allowed_to?(:edit_requirements, @project) %>
  		plugins : [ "dnd", "ui", "contextmenu", "types"]  
    <% elsif  User.current.allowed_to?(:view_requirements, @project) %>	
      plugins : [ "ui", "contextmenu", "types", "wholerow" ]
    <% end %>
  }) /* jsTree */
  .bind("close_node.jstree", function (event, data) {
    jQuery.ajax({
      "url" : "<%= url_for :project_id => @project.identifier, :controller => 'requirements', :action => 'treestate', :mode => "close", :id => nil %>/" + data.node.id.replace('node_','')
    });
  })
  .bind("open_node.jstree", function (event, data) {
    jQuery.ajax({
      "url" : "<%= url_for :project_id => @project.identifier, :controller => 'requirements', :action => 'treestate', :mode => "open", :id => nil %>/" + data.node.id.replace('node_','')
    });
  })
  .bind("move_node.jstree", function (e, data) {
    var parent_id = data.parent.replace("node_","");
    var id = data.node.id.replace("node_","");
    var position = data.position;
    
    jQuery.ajax({
      async : false,
      type: 'POST',
      url: "<%= url_for :controller => 'requirements', :action => 'delegate_tree_drop' %>/",
      data : {
        "id" : id,
        "parent_id" : parent_id,
        "position" : position,
        "authenticity_token" : <%= "#{form_authenticity_token.inspect}".html_safe %>
      }
    });
  })

  
}); /* document.ready*/

/*
 * Watch click event on tree items to edit artifacts
 */
$("#tree").delegate("a", "click", function(e) {
  var artifact = $(this);
  var link = artifact.attr("data-href");
  if (link !== undefined) window.location.href = link;
});

//]]>
</script>