<h3 class="title"><%= t(:re_create_new_relationship) %></h3>

<%= t(:re_from).camelcase %> <%= @source.name %> <%= t(:re_to) %> <%= @sink.name %>

<p class="buttons">

<%= form_tag({:controller => 'requirements',
              :action => 'addRelation',
              :source_id => @source.id,
              :sink_id => @sink.id,
              :id => @re_artifact_properties.id,
              :dialog_send => 'true'},           
             :remote => false,
             :method => :post,
             :id => 'add-relation-form') do %>

            <%= render :partial => "re_artifact_properties/relation_type_radio_buttons" %>

	<%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
<% end %>

</p>
