<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.layout-1.3.0.rc30.79-min.js', :plugin => 'redmine_re' %>
    <%= javascript_include_tag 'redmine_re.js', :plugin => 'redmine_re' %>
    <%= javascript_include_tag 'suggestible.js', :plugin => 'redmine_re' %>
    <%= javascript_include_tag 'suggestible_custom.js', :plugin => 'redmine_re' %>
    <%= stylesheet_link_tag 'redmine_re.css', :plugin => "redmine_re", :media => 'all' %>
    <%= stylesheet_link_tag 'icons.css', :plugin => "redmine_re", :media => 'all' %>
<% end %>

<div id="infobar" class="ui-layout-west ui-layout-content">
  <%= render "requirements/treebar" %>
</div>

<div id="re-index" class="ui-layout-center">
  <% configured_description = ReSetting.get_plain('plugin_description', @project.id) %>
  <% if configured_description.nil? or configured_description == '' %>
      <% if User.current.allowed_to?(:edit_requirements, @project) %>
          <h2>Create a new Requirements Artifact</h2>
      <% elsif  User.current.allowed_to?(:view_requirements, @project) %>
          <h2>Requirements Artifact</h2>
      <% end %>
       
       <% s = "" %>       
       <% flash.each do |k,v| %>       
       <%   s << content_tag('div', v, :class => "flash #{k}") %>
       <% end %> 
       <%= s.html_safe%>
       
    <h2>Artifact Creation</h2>
	<ul>
	<li>Get started by creating requirements artifacts. You may select from the artifacts shown below. After saving, you will find the artifacts you created in the tree to your left.</li>
		<li>You can also right click on any artifact on the tree to add new artifacts. Use "create artifact in" to create an artifact in the next level of the tree or "create artifact below" to create an artifact on the same level.</li>
	</ul>


    <h2>Structure</h2>
	<ul>
	<li>You can drag and drop each artifact in the tree to reorder or restructure your RE artifacts. The tree represents the structure of your requirements document.</li>
		<li>You can create traces between artifact by
	<ul>
	<li>Editing an artifact and use the "relationships" section. Select the trace type with the radio butting and start typing a name. The artifacts will show up and a link can be created. You find all traces in the top-right section.</li>
		<li>You can also create traces by dragging and dropping an artifact from the tree in the traces from/traces to sections. After dropping you can choose the relation type.</li>
	</ul></li>
	</ul>

    <h2>Connecting Issues</h2>
	<ul>
	<li>You can use the "Connect Issue" link to create an issue which gets automatically linked to the selected artifact</li>
		<li>You can also edit issues and artifacts to create links manually</li>
	</ul>

    <h2>Visualization</h2>
	<ul>
	<li>Use traceability visualizations by right-clicking an artifact. The visualization will apply to the selected sub-tree</li>
		<li>Please note, that the artifact types and trace types need to be enabled in the side bar on the right side. Slide over the bar with the mouse to open it.</li>
	</ul>
	
    <!--
	<h2>Diagrameditor</h2>
	<ul>
	<li>The diagrameditor is a early alpha version and is right now abandoned in development. It is distributed in a seperate plugin and the RE plugin works without it. However if both plugins are installed they integrate with each other.</li>
		<li>If you want to update/extend/use the editor feel free to contact us: <a class="external" href="http://korem.de/team.16.html">http://korem.de/team.16.html</a></li>
	</ul>
    -->
    
    <h2>Other things</h2>
	<ul>
	<li>Usability
	<ul>
	<li>The bars to the left and right are slid open on mouse over. You can close/open them permanently by clicking on the dark gray area.</li>
		<li>The bar on the right shows all watcher and comments for the requirement artifact. Please note, that you need to reload the page to update the number of watchers and comments (there is no ajax-ish implementation, yet)</li>
	</ul>
	</li>
		<li> Configurability
	<ul>
	<li>This demo lets you export to opendocument ony. We use an open source conversion tool to export, which supports other types, like html, latex, mediawiki, rtf, etc. and is configurable by administrators. This may or may not work superb.</li>
		<li>We enabled all types of requirement artifacts in this demo. If you prefer use-cases or other techniques administrators can disable certain artifact types.</li>
		<li>The same for relationships</li>
		<li>Artifact and relationship types can be renamed for your convenience.</li>
		<li>Artifact and relationship colors can be choosen as you like</li>
		<li>The visualization uses 4 recursive steps as the standard and is set to a size of 800x800 pixels. This can be configured.</li>
		<li>Issues are included in visualization. This can be disabled.</li>
	</ul></li>
	</ul>

	<p>Enjoy trying the plugin. Please contact us at <a class="external" href="http://korem.de/team.16.html">http://korem.de/team.16.html</a> if you need more information.</p>


  <% else %>
      <%= textilizable(configured_description, :only_path => false) %>
  <% end %>

<fieldset class="collapsible">
<legend onclick="toggleFieldset(this);"><%= t(:re_artifacts)%></legend>

  <% @re_artifact_settings.each do |currentArtifact, currentArtifactSetting| %>
      <div class="artifact_description" style="margin-bottom: 10px;">
	      <h3 style="padding: 0px 0px 0px 20px;" class="<%= "icon " + currentArtifact.underscore %>"><%= rendered_artifact_type(currentArtifact.underscore) %></h3>
	      <%= render :partial => "re_artifact_description", :locals => {:current_artifact_type => currentArtifact.underscore} %>
      </div>
  <% end %>
</fieldset>

  <h2>Trace your requirements</h2>

  <p>
    You also may like to visualize the traces for the requirements artifacts you created. Right click on an artifact to show visualizations.
  </p>
  <div style="clear:both;"></div>
</div>
