<% configured_artifact_types = ActiveSupport::JSON.decode(@settings['re_artifact_types']) unless @settings['re_artifact_types'].nil? %>

<p>
<label id='re_artifact_order'><%= l(:re_artifact_order) %></label> (<%= l(:re_drag_list_items_to_reorder_artifacts) %>)

<ol id="artifact_types_list">
<% configured_artifact_types.each_with_index do |artifact_type, i| %>
<li id="<%=artifact_type + '_' + i.to_s %>"><%= artifact_type.gsub(/^Re/, '').underscore.humanize %></li>
<% end %>
</ol>
</p>

<%= sortable_element "artifact_types_list",
	:tag => 'li',
	:complete => visual_effect(:highlight, 'artifact_types_list'),
	:onUpdate => "function(el) { elements_to_json(el); }" %>


<% javascript_tag do %>
  function elements_to_json(el) {
  	var json = '[';
		$$('#artifact_types_list li').each(function(el){
			var artifact_type = el.id.gsub(/_[0-9]*$/,'');
			json += '"' + artifact_type + '",';
		});
		json = json.gsub(/.$/,'') + ']';
  	$('settings_re_artifact_types').value = json;
  }
<% end %>
	
<p>
<%= hidden_field_tag 'settings[re_artifact_types]', @settings['re_artifact_types'], :size => 15 %><br/>
</p>
