<% content_for :header_tags do %>
    <%= javascript_include_tag 'jit.js', :plugin => 'redmine_re' %>

    <%= javascript_include_tag 'jquery.layout-1.3.0.rc30.79-min.js', :plugin => 'redmine_re' %>
    <%= javascript_include_tag 'redmine_re.js', :plugin => 'redmine_re' %>
    <%= stylesheet_link_tag 'redmine_re.css', :plugin => 'redmine_re' %>
    <%= stylesheet_link_tag 'print.css', :plugin => "redmine_re", :media => 'print' %>
<% end%>

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<div id="infobar" class="ui-layout-west ui-layout-content">
   <%= render "requirements/treebar" %>
</div>


<div id='detail_view' class='ui-layout-center'>
<h2><%= @artifact_name %> - <%= l(:re_relationship_visualization)%></h2>

  

  <% canvas_size = ReSetting.get_plain("visualization_size", @project.id) %>
  <div id="infovis" style="<%="width: #{canvas_size}px; height: #{canvas_size}px" %>" ></div>
  <div id="visualization_filters">
 
    <p>
     <h4><%= t(:re_artifact_details) %></h4>
     <div id="node-details"></div>
    </p>
  </div>

</div>
<%= render :partial => 'infobar_visualization' %>


<script type="text/javascript">
  //<![CDATA[
$('#visualization').submit(function() {
  clear_canvas();
  });
$(document).ready(function () {
	$('#visualization').submit();
});

jQuery('#visualization').bind('ajax:success', function(evt, data, status, xhr){
	init(data);
});


var visualization = null;
var form = null;

function clear_canvas() {
  $jit.id('infovis').innerHTML = '';
};

function init(data) {
  
	var visualization_type = "<%= params[:visualization_type]%>"
	var visualization_config = {
		
      //id container for the visualization
      injectInto: 'infovis',
      //Change node and edge styles such as
      //color, width, lineWidth and edge types
			
		  NodeStyles: {  
		    enable: true,  
		    type: 'Native',  
		    stylesClick: {  
		      height: 105 
		    },  
		    stylesHover: {  
		      height: 100  
		    },  
		    duration: 700  
		  },
			
      Node: {
        overridable: true,
        height: 90
      },
      Edge: {
        overridable: true,
        type: 'line',
        alpha: 1
      },      
      //Draw canvas text. Can also be
      //'HTML' or 'SVG' to draw DOM labels
      Label: {
        type: 'Native',
        color: '#000000'
      },
      Tips: {
        enable: true,
        onShow: function(tip, node, elem) {
          var data = node.data;
          var html = "<b>" + data.full_name + "</b>"; 
          if(data.description) {
            html += "<br />" + data.description.replace("\n", "<br />");
          }
          if(data.user) {
            html += "<br /><b>Last modified:</b> " + data.updated_at + " by " + data.user;
          }    
          if(data.responsibles) {
            html += "<br /><b>Responsible user:</b> " + data.responsibles;
          }    
          tip.innerHTML = html;
        }    
      },
      Events: {
        enable: true,
        type: 'Native',
        //List node connections onClick
        onClick: function(node, eventInfo, e) {
          if (!node) return;
          var data = node.data
          var id = node.id.replace('node_','');
		  
          
          if(id.charAt(0)!='i'){
		 	 var link = "<%= re_artifact_properties_path %>";        
		  }else
		  {
		  	id = id.replace('issue_','');
	 		var link = "/issues";        
		  }  
	      var html = "<b>Name: <a href=" + link + "/" + id + ">" + data.full_name + "</a></b>"
          if (data.description) {
            html += "<br/><br/><b><%= t(:re_artifact_description) %></b><br/>"
            html += data.description.replace("\n", "<br />")
          }
          html += "<br/><br/><b><%= t(:re_connected_nodes) %></b><br/>"
          html += "<ul class=\"filterdetails\"><li>", ans = [];
    
          var relationships = data.relationship_data;
          for (i=0; i<relationships.length; i++) {
	          if(relationships[i].relation_type!='Issue'){
			 	  link = "<%= re_artifact_properties_path %>";        
			  }else{
				 link = "/issues";        
		      }  
			  
            ans.push(relationships[i].direction +  " <a href=" + link + "/" + relationships[i].id + ">" + relationships[i].full_name + "</a> as " + relationships[i].relation_type);
          }
          $jit.id('node-details').innerHTML = html + ans.join("</li><li>") + "</li></ul>";
        },
        onRightClick: function(node) {
          if(node.collapsed) {
            visualization.op.expand(node, {
              'type': 'animate',
              'duration': 700,
              'transition': $jit.Trans.Back.easeOut
            });
          } else {
            visualization.op.contract(node, {
              'type': 'animate',
              'duration': 700,
              'transition': $jit.Trans.Quart.easeInOut
            });
          }
        }      
      }
		};	
	
  switch(visualization_type) {
	  case "sunburst":
			visualization_config.levelDistance=90;
			visualization = new $jit.Sunburst(visualization_config);
	    break;
	  case "netmap":
			var width = jQuery("#infovis").width();
			var height = jQuery("#infovis").height();
			var size = width > height ? width:height;
			visualization_config.levelDistance=size/2-110;
			visualization = new $jit.Sunburst(visualization_config);
	    break;
	  case "graph":
	  	visualization = new $jit.ForceDirected(visualization_config);
		  break;
	  default :
	  	alert ("<%= t(:re_please_select_visualization_type) %>");
	    break;
  }
  visualization.loadJSON(data);
  visualization.refresh();

};
//]]>
</script>

