<% fields_for "artifact[re_subtasks_attributes][]", re_subtask do |st_form| %>

  <% type_class = "subtask" %>
  <% type_class = "variant" if re_subtask.sub_type == 1 %>
  <% type_class = "problem" if re_subtask.sub_type == 2 %>

  <tr id="subtask_drag_<%= re_subtask.position %>" class="draggable <%= type_class %> subtask_row">

  <td style="cursor: pointer;" class="<%= type_class %>" ></td>
  <td class="<%= type_class -%>">
    <%= st_form.hidden_field :position, :index => nil, :class => "position"  %>
    <%= st_form.select :sub_type, [['ST', 0],['V', 1],['P', 2]], { }, { :index => nil,  :onchange => "changeSubtaskRowColor($(this.parentNode.parentNode), this.value)" } %>
  </td>
  <td class="<%= type_class -%>">
    <% re_subtask.errors.on("name")? border_style = "border-color:#EC705B;" : border_style = ""  %>
    <%= st_form.text_area :name, { :size => "12x2", :index => nil,  :class => "subtask_textarea" } %>
  </td>
  <td class="<%= type_class -%>">
  </td>
  <td class="<%= type_class -%>">
    <%= st_form.text_area :solution, :index => nil, :size => "12x2", :class => "subtask_textarea" %>
  </td>
  <td class="<%= type_class -%>">
  </td>
  <td class="<%= type_class -%>">
    <% if re_subtask.new_record? %>
      <%= link_to_function t(:re_delete_subtask), "$(this).up('.subtask_row').remove()", :class => "icon icon-del" %> <br/>
    <% else %>
      <%= link_to_function t(:re_delete_subtask), "markSubtaskForDestroy(this)", :class => "icon icon-del" %> <br/>
      <%= st_form.hidden_field(:id, :index => nil) %>
      <%= st_form.hidden_field(:_destroy, :index => nil, :class => "should_destroy") %>
    <% end %>
    <%= link_to_function( t(:re_insert_st_after), "addSubtask($(this.parentNode.parentNode).id, 'after')", :class => "icon icon-subtask-after" ) %>
  </td>
  </tr>
 <% end %>
