<% type_class = "subtask" %>
<% type_class = "variant" if f.object.sub_type == 1 %>
<% type_class = "problem" if f.object.sub_type == 2 %>
<tr id="subtask_drag_<%= f.object.position %>" class="draggable <%= type_class %> subtask_row nested_field">

  <td style="cursor: pointer;" class="<%= type_class %>" ></td>
  <td class="<%= type_class -%> subtask-type">
    <%= f.hidden_field :position, :class => "position"  %>
    <%= f.select :sub_type, [['ST', 0],['V', 1],['P', 2]]%>
  </td>
  <td class="<%= type_class -%>">
    <%= f.text_area :name, { :size => "12x2", :class => "subtask_textarea" } %>
  </td>
  <td class="<%= type_class -%>">
  </td>
  <td class="<%= type_class -%>">
    <%= f.text_area :solution, :size => "12x2", :class => "subtask_textarea" %>
  </td>
  <td class="<%= type_class -%>">
  </td>
  <td class="<%= type_class -%>">
    <%= link_to_remove_fields "", f %>
    <%= link_to_function( t(:re_insert_st_after), "addSubtask(jQuery(this).parent().parent(), 'after')", :class => "icon icon-subtask-after" ) %>
  </td>
</tr>
