      <p>
         <%= f.label :solution, l(:re_subtask_solution) %> <%= f.text_field :solution %>
      </p>
      <p>
        <%= label_tag t(:re_subtask) %>  <% if(@artifact.sub_type == 0) %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '0', true %>
                                    <% else %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '0', false %>
                                    <% end %>
      </p>
      <p>
        <%= label_tag t(:re_subtask_variant) %>  <% if(@artifact.sub_type == 1) %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '1', true %>
                                    <% else %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '1', false %>
                                    <% end %>
      </p>
      <p>
        <%= label_tag t(:re_subtask_problem) %>  <% if(@artifact.sub_type == 2) %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '2', true %>
                                    <% else %>
                                        <%= radio_button_tag "re_subtask[sub_type]", '2', false %>
                                    <% end %>
      </p>